.tag {
    text-align: center;
}

.image-holder {
    padding: 30px;
}

.flip-card {
    cursor: pointer;
}

.slick-slide img {
    margin: auto;
    width: 500px;
    height: 350px;
}

.text-body span {
    font-style: italic;
}