.card {
    width: 350px;
    height: 300px;
    padding: 5px;
}

.card-inner {
    height: 100%

}
.card div:hover {
    color: var(--link-hover-color);
    background: var(--hover-color);
    border-radius: 15px;
}

.body-holder {
    text-align: center;
    padding: 15px;
    height: 100%
}
