@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto+Mono&display=swap');

:root {
  /* Colors */
  --background-color: #EDF3F1;
  --yellow: #F7B801;
  --green: #81AE9D;
  --dark-blue: #242F40;
  --dark-grey: 363636;
  --font-color: var(--dark-grey);
  --navbar-color-hover: var(--dark-blue);
  --page-width: 850px;

  --primary: #fdb54a;
  --secondary: #ffd479;
  --link-color: white;
  --border-color: #111;
  --heading-font-color: var(--primary);
  --sidebar-color: #373d49;
  --navbar-color: #1c1e24;
  --sidebar-color-hover: #464e5f;
  --sidebar-color-focus: #57637c;
  --category-background-color: #1c1e24;
  --category-background-color-hover: #24272e;
  --light-border-color: rgba(255, 255, 255, 0.1);
  --toolbar-background-color: #181818;
  --toolbar-color: #eee;
  --dark-font-color: rgba(235, 240, 255, 0.5);
  --bright-font-color: #eee;
  --input-background: rgba(0, 0, 0, 0.3);
  --blockquote-background-color: rgba(0, 0, 0, 0.3);
  --blockquote-color: #b3b9c5;
  --black: #111;
  --inline-code-background-color: #393e4b;
  --inline-code-color: #d0d5df;
  --dark-opacity: rgba(0, 0, 0, 0.2);
  --dark-opacity-hover: rgba(0, 0, 0, 0.3);
  --reverse: var(--background-color);
  --scrollbar: var(--navbar-color);
  --scrollbar-track: var(--sidebar-color-hover);
  
  --button-color: #6b76f3;
  --button-font-color: white;
  

  /* Font */
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Roboto', Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --heading-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Roboto', Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --post-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Roboto', Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --code-font-family: Menlo, 'Roboto Mono', Courier New, monospace;
}

html {
    background: var(--background-color);
}

.main {
    margin-top: 60px;
    color: var(--dark-grey)
}

.main a {
  color: var(--yellow);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--page-width);
  padding: 2rem;
}