.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--headers-bg-color);
    z-index: 9;
    box-shadow: 0 4px 20px rgb(0 0 0 / 12%);
}

.nav-inner {
    font-size: 1.05em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    height: 100%;
    justify-content: space-between;
    max-width: var(--page-width);
}

.nav-inner a {
    padding: 0.35em 0.9rem;
    background: 0 0;
    color: var(--nav-font-color);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
    text-decoration: none;
    font-weight: 500;
}

.nav-inner a:hover {
    color: var(--bright-font-color);
    background: var(--navbar-color-hover);
    border-radius: 15px 50px;
}

.nav-inner-left {
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
}

.nav-inner-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    height: 100%;
}

.nav-inner-center a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-size: 0.9rem;
    border-radius: 8px;
    font-weight: 500;
    line-height: 1.1;
  }

  .nav-inner img {
    max-width: 25px;
    max-height: 25px;
  }

  .nav-inner-right {
    justify-content: flex-start;
  }